.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formRow {
    min-width: 100%;
    width: 100%;
    margin-bottom: 16px;
}

.textfield {
    min-width: 100%;
    width: 100%;
}

.button {
    margin: auto;
}